a {
  color: #333;
  text-decoration: none;
}
a:hover {
  color: #F0154A;
  text-decoration: none;
}

.navigation > ul > li.nav-item {
  border: 1px solid #DDD;
}

.table-responsive.music > table > caption {
  font-size: 20px;
}
.table-responsive.music > table > tbody > tr > td {
  vertical-align:middle;
}
